.main-div {
    position: relative;
    color: white;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.background-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}